html,
body {
    font-family: "Microsoft JhengHei", "PingFangTC-Regular", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer {
    padding: 24px 0;
    font-size: 14px;
    text-align: center;
    background-color: #559AC8;
}
.footer-title {
    color: #fff;
}
.footer-source {
    margin-top: 15px;
    color: #FFD366;
}