.search {
    margin: 0 16px;

    &-box {
        box-sizing: border-box;
        width: 100%;
        max-width: 452px;
        padding: 9px;
        font-size: 18px;
        font-weight: bold;
        border: 3px solid #FFFFFF;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.70);
        outline: none;
    }
}

.main {
    background-color: #f7f7f7;
    padding: 0 40px;

    @media screen and (max-width:767px) {
        padding: 0 16px;
    }
}

.hotBox {
    position: relative;
    top: -28px;
    left: auto;
    box-sizing: border-box;
    max-width: 800px;
    margin: auto;
    padding: 20px 26px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #FFFFFF;

    &-title {
        font-size: 18px;
    }

    &-content {
        display: flex;
    }

    @media screen and (max-width:767px) {
        &-content {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

.hotBtn {
    box-sizing: border-box;
    width: 120px;
    margin-top: 14px;
    margin-left: 24px;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;

    &.pl {
        background-color: #8A82CC;
    }

    &.rd {
        background-color: #FFA782;
    }

    &.yl {
        background-color: #F5D005;
    }

    &.bu {
        background-color: #559AC8;
    }

    @media screen and (max-width:767px) {
        margin-left: 16px;
    }
}

.dividingLine {
    position: relative;
    max-width: 900px;
    margin: 12px auto 12px;
    border: 1px dashed #559AC8;

    &-icon {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 24px;
            height: 24px;
            border: 2px solid #559AC8;
            border-radius: 50%;
            background-color: #FFFFFF;
        }

        &::after {
            content: '';
            position: absolute;
            top: 1px;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 7.5px 0 7.5px;
            border-color: #559ac8 transparent transparent transparent;
        }
    }
}

.areaInfo {
    max-width: 944px;
    margin: auto;
    margin-top: 24px;
    padding: 40px 0;

    &-title {
        font-size: 36px;
        text-align: center;
        color: #8A82CC;
    }

    &-content {
        font-size: 0;
        margin-top: -12px;
    }

    &-pages {
        margin-top: 44px;
    }
}

.card {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 16px) /2);
    margin-top: 36px;
    font-size: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;

    &:nth-of-type(even) {
        margin-left: 16px;
    }

    &-head {
        position: relative;
        height: 155px;
        overflow: hidden;
    }

    &-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    &-title {
        position: absolute;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding: 14px 24px;
        color: #FFFFFF;
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.54) 100%);
    }

    &-name {
        font-size: 24px;
        line-height: 1.2;
        flex: 0 1 auto;
    }

    &-area {
        flex: 0 0 auto;
    }

    &-content {
        position: relative;
        box-sizing: border-box;
        padding: 20px 24px;
    }

    @media screen and (max-width:767px) {
        width: 100%;

        &:nth-of-type(even) {
            margin-left: 0;
        }
    }
}

.info {
    &+& {
        margin-top: 12px;
    }

    &.tag {
        margin-top: 0;
    }
}

.time,
.address,
.phone,
.tag {
    position: relative;
    min-height: 24px;
    padding-left: 24px;

    &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        display: block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.time {
    &::before {
        background-image: url(./../images/icons_clock.png);
    }
}

.address {
    &::before {
        background-image: url(./../images/icons_pin.png);
    }
}

.phone {
    padding-right: 110px;

    &::before {
        background-image: url(./../images/icons_phone.png);
    }
}

.tag {
    position: absolute;
    bottom: 20px;
    right: 24px;
    box-sizing: border-box;
    width: 90px;

    &::before {
        background-image: url(./../images/icons_tag.png);
    }
}

.pageBtn {
    font-size: 14px;
    text-align: center;

    &-prev,
    &-next,
    &-num {
        box-sizing: border-box;
        display: inline-block;
        min-width: 26px;
        padding: 8px 5px;
        color: #4A4A4A;

        &+& {
            margin-left: 8px;
        }

        &:hover {
            text-decoration: underline;
        }

        &.active {
            color: #559AC8;
        }

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &-numBox {
        display: inline-block;
        min-width: 163px;
        margin: 0 12px;
    }
}

.scrollTop {
    position: fixed;
    right: 28px;
    bottom: 140px;
    line-height: 0;
}