.footer {
    padding: 24px 0;
    font-size: 14px;
    text-align: center;
    background-color: #559AC8;

    &-title {
        color: #fff;
    }

    &-source {
        margin-top: 15px;
        color: #FFD366;
    }
}